management:
  endpoint:
    health:
      show-details: always
  endpoints:
    jmx:
      exposure:
        include: '*'
    web:
      exposure:
        include: '*'

spring:
  profiles:
    active: dev-natapp-kevin
  application:
    name: api-module-pay-alipay-20210112
  datasource:
    dbcp2:
      min-idle: 5
      initial-size: 5
      max-total: 5
      max-wait-millis: 200
    druid:
      # 初始化大小，最小，最大
      initialSize: 5
      minIdle: 5
      maxActive: 15
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1 FROM DUAL
      test-on-borrow: false
      test-on-return: false
      test-while-idle: true
      web-stat-filter:
        url-pattern: /druid/
      filter: stat,wall,log4j
      # 打开PSCache，并且指定每个连接上PSCache的大小
      poolPreparedStatements: true
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      maxPoolPreparedStatementPerConnectionSize: 20
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      # 合并多个DruidDataSource的监控数据
      useGlobalDataSourceStat: true
      remove-abandoned: true
      remove-abandoned-timeout: 180
      log-abandoned: true
  freemarker:
    cache: false
    check-template-location: true #检查模板是否存在
    charset: UTF-8 #编码方式
    content-type: text/html
    enabled: true #是否启用freemarker
    expose-request-attributes: false #设定所有request的属性在merge到模板的时候，是否要都添加到model中.
    expose-spring-macro-helpers: true #设定是否以springMacroRequestContext的形式暴露RequestContext给Spring’s macro library使用
    expose-session-attributes: false #否在merge模板的时候，将HttpSession属性都添加到model中
    prefer-file-system-access: true #是否优先从文件系统加载template，以支持热加载，默认为true
    suffix: .ftl #设定模板的后缀.
    template-loader-path:
      - classpath:/webapp/
      - classpath:/templates/
    settings:
      classic_compatible: true
  resources:
    static-locations: # 应用服务 WEB 访问端口
      - classpath:/webjars/
      - classpath:/META-INF/resources/
      - classpath:/resources/
      - classpath:/static/
      - classpath:/public/# 应用服务 WEB 访问端口
  thymeleaf:
    cache: true
    check-template: true
    check-template-location: true
    enabled: true
    encoding: UTF-8
    excluded-view-names: ''
    mode: HTML5
    prefix: classpath:/templates/
    suffix: .html
    servlet:
      content-type: text/html
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  devtools:
    add-properties: false

mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml
  type-aliases-package: cn.kevinkda.demo.api.module.pay.alipay.b20210112
  mapper-locations:
    - classpath*:mybatis/mapper/**/*.xml

gateway:
  payment:
    url: https://pay.kevinkda.cn

version:
  main: @system.main.version@
  sub: @system.sub.version@
  pom: @project.version@
